Source: ureadahead
Section: admin
Priority: required
Maintainer: Scott James Remnant <scott@ubuntu.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.3.15ubuntu3), dh-autoreconf, dh-systemd, autopoint, pkg-config (>= 0.22), libnih-dev (>= 1.0.0), libblkid-dev (>= 2.16), e2fslibs-dev (>= 1.41)

Package: ureadahead
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: readahead, systemd (<< 217)
Provides: readahead
Replaces: readahead
Description: Read required files in advance
 über-readahead is used during boot to read files in advance of when
 they are needed such that they are already in the page cache,
 improving boot performance.
 .
 Its data files are regenerated on the first boot after install, and
 either monthly thereafter or when packages with init scripts or
 configs are installed or updated.
 .
 ureadahead requires a kernel patch included in the Ubuntu kernel.

