#!/usr/bin/make -f
%:
	dh $@ --with autoreconf,systemd


CFLAGS = -Wall -g -fstack-protector -fPIE
LDFLAGS = -Wl,-z,relro -Wl,-z,now -pie

# Disable optimisations if noopt found in $DEB_BUILD_OPTIONS
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
	LDFLAGS += -Wl,-O0
else
	CFLAGS += -Os
	LDFLAGS += -Wl,-O1
endif

override_dh_auto_configure:
	dh_auto_configure -- CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" \
		--exec-prefix=


override_dh_install:
	dh_install
	install -m 644 debian/ureadahead.apport \
		debian/ureadahead/usr/share/apport/package-hooks/ureadahead.py
	install -d debian/ureadahead/lib/systemd/system/
	install -m 644 debian/ureadahead-stop.service debian/ureadahead-stop.timer \
		debian/ureadahead/lib/systemd/system/

override_dh_installinit:
	dh_installinit --no-start

override_dh_systemd_start:
	dh_systemd_start --no-start

version := $(shell sed -e '1{;s|^ureadahead (\(.*\))\ .*|\1|;q;}' debian/changelog)
